/*#region imports*/
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
/*#endregion imports*/

/*#region animation*/
@keyframes arrowdown{
    45% {
        transform: translate(0, 10px);
    }
    90%{
        transform: translate(0, -10px);
    }
    100%{
        transform: translate(0)
    }
}
/*#endregion animation*/

/*#region reset*/
:root{
    --purple-button: #B878C5;
    --purple-dark: #b13bc9;
    --white: #fff;
    --gray: #aaa;
    --background-houses: #081828;
    --background-gradient-talkto: #283848;
    --button-green: #B8F8A8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
}

html{
    scroll-behavior: smooth;
}
/*#endregion reset*/

/*#region header*/
header{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url('../img/Header-WallPaper.jpg');
    background-position: center;
    background-size: cover;
}

header #container-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #container-left #container-text{
    width: 70%;
}

header #container-left #container-text h1 {
    text-align: left;
    font-size: 3em;
    line-height: 1.2em;
    text-transform: uppercase;
    hyphens: auto;
    font-weight: 700;
}

header #container-left #container-text #desc{
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 10px;
}

header #container-left #container-text #button{
    width: 100%;
}

header #container-left #container-text button{
    width: 70%;
    height: 50px;
    color: var(--white);
    font-size: 1.1em;
    background-color: var(--purple-button);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--purple-button);
    margin: 10px;
    cursor: pointer;
}
header #container-left #container-text #button button:hover{
    transform: scale(95%);
    box-shadow: inset 0 0 15px black;
    font-size: 1em;
}

header #container-left #container-text #creci{
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    color: var(--gray);
    margin-top: 10px;
}

header #container-right{
    position: relative;
    height: 100%;
    width: 50%;
}

#person{
    position: absolute;
    width: min(700px, 100%);
    height: 100%;
    filter: brightness(0%);
}

#arrow-button{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

#arrow-button a button{
    border: none;
    border-radius: 50%;
    padding: 10px;
    opacity: .5;
    background: none;
    cursor: pointer;
    animation: arrowdown 4s ease infinite;
}
#arrow-button a button:hover{
    opacity: .8;
}

#arrow-button a button img{
    width: 50px;
}

/*#endregion header*/

/*#region main*/
/*#region houses*/
#houses{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--background-houses);
}

#houses #contact-icons{
    display: flex;
    justify-content: space-evenly;
}

#houses #contact-icons .icons button{
    background: none;
    border: none;
    cursor: pointer;
}
#houses #contact-icons .icons button:hover > svg{
    transform: scale(110%);
    filter:drop-shadow(0 0 5px var(--purple-button));;
}

#houses #contact-icons .icons button svg{
    width: 50px;
    color: var(--purple-button);
}

#houses h2{
    color: var(--white);
    font-weight: 400;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

#houses #cart-houses{
    display: flex;
    justify-content: space-evenly;
}

#houses #cart-houses .cart .img img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    cursor: pointer;
}
#houses #cart-houses .cart .img img:hover{
    transform: scale(105%);
}

#houses #cart-houses .cart p {
    color: var(--white);
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#houses #cart-houses .cart button{
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: var(--purple-button);
    color: var(--white);
    font-size: 1.2em;
    font-weight: 700;
    box-shadow: 0 0 18px var(--purple-button);
    cursor: pointer;

}
#houses #cart-houses .cart button:hover{
    transform: scale(95%);
    box-shadow: inset 0 0 15px black;
    font-size: 1em;
}
/*#endregion houses*/

/*#region taklto*/
#talkto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(40,56,72,0.8), rgba(40,56,72,0.8)), url('../img/family.jpg');
    background-position: center;
    background-size: cover;
}

#talkto #talkto-text{
    width: min(700px, 100%);
    text-align: center;
}

#talkto #talkto-text h2{
    font-family: 'Long Cang', cursive;
    font-weight: 400;
    font-size: 4em;
    color: var(--purple-button);
}

#talkto #talkto-text h3{
    text-transform: uppercase;
    hyphens: auto;
    font-size: 5em;
    color: var(--white);
    margin-bottom: 50px;
}

#talkto #talkto-text p{
    color: var(--white);
    font-size: 1.5em;
    margin-bottom: 50px;
}

#talkto button{
    width: 250px;
    height: 50px;
    margin-bottom: 50px;
    color: var(--white);
    font-weight: 700;
    font-size: 1.1em;
    background-color: var(--purple-button);
    border: none;
    cursor: pointer;
}
#talkto button:hover{
    transform: scale(95%);
    box-shadow: inset 0 0 15px black;
    font-size: 1em;
}
/*#endregion taklto*/

/*#region profile*/
#profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.7)), url('../img/Perfil-WallPaper.jpg');
    background-position: top center;
    background-size: cover;
}

#profile #profile-img img{
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}
#profile #profile-img img:hover{
    transform: scale(105%);
    filter: drop-shadow(-10px 10px 20px var(--purple-button));
}

#profile #text-profile{
    width: min(800px, 95%);
    font-size: 2em;
    hyphens: auto;
}

#profile #text-profile p strong{
    color: var(--purple-dark);
}
/*#endregion profile*/

/*#region form*/
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: var(--background-houses);
}

#form #title-form{
    text-align: center;
}
#form #title-form h2{
    color: white;
    font-family: 'Space Mono';
    font-size: 2.2em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 20px;
    width: 100%;
}

#form form input{
    width: min(800px, 80%);
    height: 50px;
    font-size: 1.5em;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}
#form form .text:focus{
    outline: none;
    box-shadow: 0 5px 25px var(--purple-dark);
}

#form form #select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form form #select label{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#form form #select select{
    height: 50px;
    width: 95%;
    text-align: center;
    font-family: 'Space Mono';
    font-size: 1.2em;
    font-weight: 700;
}

#form form #box-checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#form form #box-checkbox #title-checkbox{
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    
}

#form form #box-checkbox #checkbox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#form form #box-checkbox #checkbox div input{
    cursor: pointer;
}

#form form #box-checkbox #checkbox div label{
    font-family: 'Space Mono';
}

#form form #button-form{
    background-color: var(--button-green);
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
}
#form form #button-form:hover{
    background-color: var(--purple-button);
    transform: scale(95%);
    box-shadow: inset 0 0 15px black;
    font-size: 1em;
}
/*#endregion form*/

/*#endregion main*/

/*#region breakpoints*/
@media (max-width: 1050px){
    header #container-right{
        display: none;
    }
    header #container-left{
        width: 100%;
    }

    #profile{
        flex-direction: column;
    }
}

@media (max-width: 900px){
    #houses #cart-houses{
        flex-direction: column;
        gap: 20px;
    }
    #houses #cart-houses .cart button{
        width: max(200px, 45%);
    }
}

@media (max-width: 800px){
    #form h2{
        font-size: 2rem;
    }
}

@media (max-width: 580px){
    header #container-left #container-text h1{
        font-size: 2em;
    }

    #arrow-button{
        left: 42%;
    }

    #profile #text-profile{
        font-size: 1em;
    }
}

@media (max-width: 570px){
    #talkto #talkto-text h3 span{
        display: block;
        font-size: 3rem;
    }

    #form form .text{
        font-size: 1em;
    }
}
/*#endregion breakpoints*/